# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 76372a2098feebf1c761317babfb857c6a7695e96bde7956c3003cc1dbca22eff9d7c84326b066dd44d0e0d38d3e35e0428fe63b9c4a158173914336bfca3483

test:
  secret_key_base: 5bc9068c8abf85c7d7cd27c6b53752d669c19c31909461758cdea1294b1d83382cdacf76c13327ab38210d9e08270e54d2eb698cb7ff9317cfba27829fef4b71

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
